@import "spacing_helpers";

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

// Remove caret from dropdown
.caret-off::before {
  display: none;
}

.caret-off::after {
  display: none;
}

.faqs-navbar {
  top: 0 !important;
}

.faqs-body {
  margin-bottom: 0 !important;
}


// Bootstrap Select Style
.bootstrap-select {
  .dropdown-menu {
    padding: 0;

    li {

      a {
        padding: 5px 10px;
      }
    }
  }
}

.navbar-stick-dark {
  background-color: #1501016e !important;
  top: 0px !important;
}

.breadcrumb_holder {
  background-color: #1716152e !important;

  .active {

    color: #7d0909 !important;
  }

}

header {
  .header-sections {
    border: 10px solid #041625fc;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .header-sections:before {
    content: "";
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.display-none {
  display: none;
}

.slick-slide img {
  width: 100% !important;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 300px;
}

.disable {
  cursor: not-allowed;
  background-color: #28635d;
}

.disable a {
  cursor: not-allowed;
  background-color: red;
  color: white;
  opacity: .5;
}